<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="styleguide.css">
  <link rel="stylesheet" href="styles.css">
  <style>
    #rowCal {
      overflow-x: scroll;
      width:100%;
    }
  </style>

</head>
<body>
1) what time slots are available? is it fixed?
2) can i select muliple slots in different days?
3) how it will handle backend?

<input type="text" id="txtDate" value="">
<div id="ContentPlaceHolder1_lblMonth">12</div>
<div id="ContentPlaceHolder1_lblYear">2018</div>
<div id="ContentPlaceHolder1_lblMonthDDD"></div>
<div id="divCal">

</div>

<div class="rowNavigation">
  <div class="previous">previous</div>
  <div class="currentSelected">

  </div>
  <div class="next">next</div>

</div>

<div class="custom-calendar">
  <h3>Calendar</h3>
  <div id="current-date"></div>
  <div class="custom-calendar__controls">
    <a href="#" id="nextDay">Previous day</a>
    <a href="#" id="prevDay">Next day</a>
  </div>
  <div id="current-week">

  </div>
  <div id="rowCal">

  </div>
  <h3 id="daySlotsTitle">Slots for ...</h3>
  <div id="daySlots">

  </div>

  <div id="result">

  </div>

  <div class="calendar__footer">
    <div id="messages">

    </div>
    <button id="confirm">Confirm</button>
  </div>


</div>

<script type="text/x-tmpl" id="tmpl-demo">
  <hr>
  <h3>{%=o.title%}</h3>
    <p>Released under the
    <a href="{%=o.license.url%}">{%=o.license.name%}</a>.</p>
    <h4>Features</h4>
    <ul>
    {% for (var i=0; i<o.features.length; i++) { %}
        <li>{%=o.features[i]%}</li>
    {% } %}
  </ul>
</script>

<script type="text/x-tmpl" id="available-slots">
    <hr>
    <fieldset class="timeslot-picker">
        <legend class="timeslot-picker__label">Choose a time slot (radio)</legend>
        <div class="timeslot-picker__list">
          {% for (var i = 0; i < o.length; i++) { %}
            <label class="timeslot-picker__item">
              <input class="timeslot-picker__check" type="radio" name="timeslotradio" id="radio1" value="option1" >
              <span class="timeslot-picker__time">{%= o[i].label %}</span>
            </label>
          {% } %}
        </div>
    </fieldset>
</script>

<script src="./tmpl.min.js"></script>
<script src="./custom_calendar_1.js"></script>
</body>
</html>