.custom-calendar {
  width: 50%;
  margin: auto;
  border: 1px solid;
  padding: 3px;
}

.custom-calendar__controls {
  display: flex;
  margin-bottom:1rem;
  justify-content: space-between;
}

.slot {
  background: gray;
  border:1px solid;
  padding:3px;
}

.slot--selected {
  background: red;
}

td:hover {
  background: ghostwhite;
}

td.today {
  background:green;
  color: #fff;
}

td.selected {
  background: red;
  color: #fff;
}

.calendar__footer {
  display: flex;
}

#messages {
  padding: 10px;
  border:1px solid
}